body {
    margin: 0;
}

#game {
    width: 1000px;
    height: 500px;
    background-color: aliceblue;
    position: absolute;
}

@keyframes jump {
    0%{top: 450px;}
    50%{top: 350px;}
    100%{top: 450px;}
}

.jumping-animation {
    animation: jump 1s;
}

#player {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 450px;
}

@keyframes goLeft {
    0%{left: 950px;}
    100%{left: -50px;}
}
#obstacle {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 450px;
    left: 950px;
    animation: goLeft 2s infinite linear;
}